<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Companies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${companies}" class="container my-5">
                    <p class="my-5">
                        <a href="/Company/edit" class="btn btn-primary">
                            <i class="fas fa-user-plus ml-2"> Add Company </i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No record found !!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Company's Name</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="company : ${companies}">
                                    <td th:text="${company.namaPerusahaan}"></td>
                                   <td>
                                        <a th:href="@{/Company/edit/{kode_perusahaan}(kode_perusahaan=${company.kode_perusahaan})}" class="btn btn-primary">
                                            <i class="fas fa-user-edit ml-2"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/Company/delete/{kode_perusahaan}(kode_perusahaan=${company.kode_perusahaan})}" class="btn btn-primary">
                                            <i class="fas fa-user-times ml-2"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                </td>
                            </table>
                        </div>
                    </div>
                </div>
                <p class="my-5">
                    <a href="/MainMenu" class="btn btn-primary">Main Menu</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>